.card-body {
    padding: 20px;
    background-color: white;
    display: inline-block;
    border: 8px solid black;
    margin: 15px;
    text-align: center;
    justify-content: center;
    width: 18%;
    height: 60%;
}