.menu-navegador {
    background-color: black;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.menu-navegador ul li {
    display: inline;
    padding: 10px;
}


.menu-navegador ul {
    list-style-type: none;
    text-align: center;
}

.menu-navegador ul li a {
    text-decoration: none;
    color: #15F500;
    font-size: 28px;
    text-transform: uppercase;
}