* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body {
    background-color: #15F500;
}



h2 {
    font-size: 30px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}



p {
    font-size: 20px;
    text-align: justify;
    padding: 8px;

}

.titulo {
    font-size: 28px;
    font-weight: 1;
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
}
.wsp {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1;
}
.text {
    font-size: 26px;
    font-weight: 400px;
    background-color: whitesmoke;
    border: solid black;
    width: 500px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
}
